<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="icon" type="image/x-icon" href="https://ar.apkshki.com/storage/3037/icon_5ea87a9185993_3037_w256.png">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body class="main-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <div class="container-fluid">
            <a class="navbar-brand me-2" href="#">Cloud Printer</a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact-us">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="about-us">About us</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-dark me-3">
                        Login or Register
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <section class="about-cards">
        <div class="cards-container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="https://via.placeholder.com/400x300" class="card-img-top rounded-top"
                            alt="Meshary profile image">
                        <div class="card-body">
                            <h5 class="card-title">Mshari Dajam</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget
                                luctus nisl.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="images/mohanad-personal-image.jpg" class="card-img-top rounded-top"
                            alt="Mohanned profile image">
                        <div class="card-body">
                            <h5 class="card-title">Mohanad Tayab</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget
                                luctus nisl.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="images/abdulrahman-profile-image.jpg" class="card-img-top rounded-top"
                            alt="Abdulrahman profile image">
                        <div class="card-body">
                            <h5 class="card-title">Abdulrahman Mohammad</h5>
                            <p class="card-text">Constantly learning, self motivated and passionate team manager and
                                mobile developer who loves hard challenges and impossible puzzles.
                                ☕Coffee in my blood
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>